Repository PckgrBot/winget-pkgs-private, pull requests merged in 2024-03, with the labels that each got.

#217 New version: Microsoft.AzureCLI_Pckgr version 2.57.0
  manifests/m/Microsoft/AzureCLI_Pckgr/2.57.0/Microsoft.AzureCLI_Pckgr.installer.yaml
  manifests/m/Microsoft/AzureCLI_Pckgr/2.57.0/Microsoft.AzureCLI_Pckgr.locale.en-US.yaml
  manifests/m/Microsoft/AzureCLI_Pckgr/2.57.0/Microsoft.AzureCLI_Pckgr.yaml
Labels: scan/failed

#239 New version: evernote.evernote_Pckgr version 10.78.2
  manifests/e/evernote/evernote_Pckgr/10.78.2/evernote.evernote_Pckgr.installer.yaml
  manifests/e/evernote/evernote_Pckgr/10.78.2/evernote.evernote_Pckgr.locale.en-US.yaml
  manifests/e/evernote/evernote_Pckgr/10.78.2/evernote.evernote_Pckgr.yaml
Labels: scan/failed

#241 New version: Microsoft.VisualStudioCode_Pckgr version 1.87.0
  manifests/m/Microsoft/VisualStudioCode_Pckgr/1.87.0/Microsoft.VisualStudioCode_Pckgr.installer.yaml
  manifests/m/Microsoft/VisualStudioCode_Pckgr/1.87.0/Microsoft.VisualStudioCode_Pckgr.locale.en-US.yaml
  manifests/m/Microsoft/VisualStudioCode_Pckgr/1.87.0/Microsoft.VisualStudioCode_Pckgr.yaml
Labels: scan/failed

#242 New version: Microsoft.AzureDataStudio_Pckgr version 1.48.0
  manifests/m/Microsoft/AzureDataStudio_Pckgr/1.48.0/Microsoft.AzureDataStudio_Pckgr.installer.yaml
  manifests/m/Microsoft/AzureDataStudio_Pckgr/1.48.0/Microsoft.AzureDataStudio_Pckgr.locale.en-US.yaml
  manifests/m/Microsoft/AzureDataStudio_Pckgr/1.48.0/Microsoft.AzureDataStudio_Pckgr.yaml
Labels: scan/failed

#243 New version: Amazon.WorkspacesClient_Pckgr version 5.19.0
  manifests/a/Amazon/WorkspacesClient_Pckgr/5.19.0/Amazon.WorkspacesClient_Pckgr.installer.yaml
  manifests/a/Amazon/WorkspacesClient_Pckgr/5.19.0/Amazon.WorkspacesClient_Pckgr.locale.en-US.yaml
  manifests/a/Amazon/WorkspacesClient_Pckgr/5.19.0/Amazon.WorkspacesClient_Pckgr.yaml
Labels: scan/failed

#247 New version: dbeaver.dbeaver_Pckgr version 24.0.0
  manifests/d/dbeaver/dbeaver_Pckgr/24.0.0/dbeaver.dbeaver_Pckgr.installer.yaml
  manifests/d/dbeaver/dbeaver_Pckgr/24.0.0/dbeaver.dbeaver_Pckgr.locale.en-US.yaml
  manifests/d/dbeaver/dbeaver_Pckgr/24.0.0/dbeaver.dbeaver_Pckgr.yaml
Labels: scan/failed

#244 New version: Cisco.WebexTeams_Pckgr version 44.2.0.28859
  manifests/c/Cisco/WebexTeams_Pckgr/44.2.0.28859/Cisco.WebexTeams_Pckgr.installer.yaml
  manifests/c/Cisco/WebexTeams_Pckgr/44.2.0.28859/Cisco.WebexTeams_Pckgr.locale.en-US.yaml
  manifests/c/Cisco/WebexTeams_Pckgr/44.2.0.28859/Cisco.WebexTeams_Pckgr.yaml
Labels: scan/failed

#245 New version: Microsoft.Edge_Pckgr version 122.0.2365.63
  manifests/m/Microsoft/Edge_Pckgr/122.0.2365.63/Microsoft.Edge_Pckgr.installer.yaml
  manifests/m/Microsoft/Edge_Pckgr/122.0.2365.63/Microsoft.Edge_Pckgr.locale.en-US.yaml
  manifests/m/Microsoft/Edge_Pckgr/122.0.2365.63/Microsoft.Edge_Pckgr.locale.nb-NO.yaml
  manifests/m/Microsoft/Edge_Pckgr/122.0.2365.63/Microsoft.Edge_Pckgr.yaml
Labels: scan/failed

#246 New version: Microsoft.Azure.StorageExplorer_Pckgr version 1.33.0
  manifests/m/Microsoft/Azure/StorageExplorer_Pckgr/1.33.0/Microsoft.Azure.StorageExplorer_Pckgr.installer.yaml
  manifests/m/Microsoft/Azure/StorageExplorer_Pckgr/1.33.0/Microsoft.Azure.StorageExplorer_Pckgr.locale.en-US.yaml
  manifests/m/Microsoft/Azure/StorageExplorer_Pckgr/1.33.0/Microsoft.Azure.StorageExplorer_Pckgr.yaml
Labels: scan/failed

#256 New version: Microsoft.PowerBI_Pckgr version 2.126.1261.0
  manifests/m/Microsoft/PowerBI_Pckgr/2.126.1261.0/Microsoft.PowerBI_Pckgr.installer.yaml
  manifests/m/Microsoft/PowerBI_Pckgr/2.126.1261.0/Microsoft.PowerBI_Pckgr.locale.en-US.yaml
  manifests/m/Microsoft/PowerBI_Pckgr/2.126.1261.0/Microsoft.PowerBI_Pckgr.yaml
Labels: scan/failed

#255 New version: AgileBits.1Password_Pckgr version 8.10.27
  manifests/a/AgileBits/1Password_Pckgr/8.10.27/AgileBits.1Password_Pckgr.installer.yaml
  manifests/a/AgileBits/1Password_Pckgr/8.10.27/AgileBits.1Password_Pckgr.locale.en-US.yaml
  manifests/a/AgileBits/1Password_Pckgr/8.10.27/AgileBits.1Password_Pckgr.yaml
Labels: scan/failed

#248 New version: Canva.Canva_Pckgr version 1.83.0
  manifests/c/Canva/Canva_Pckgr/1.83.0/Canva.Canva_Pckgr.installer.yaml
  manifests/c/Canva/Canva_Pckgr/1.83.0/Canva.Canva_Pckgr.locale.en-US.yaml
  manifests/c/Canva/Canva_Pckgr/1.83.0/Canva.Canva_Pckgr.yaml
Labels: scan/failed

#250 New version: Microsoft.PowerToys_Pckgr version 0.79.0
  manifests/m/Microsoft/PowerToys_Pckgr/0.79.0/Microsoft.PowerToys_Pckgr.installer.yaml
  manifests/m/Microsoft/PowerToys_Pckgr/0.79.0/Microsoft.PowerToys_Pckgr.locale.en-US.yaml
  manifests/m/Microsoft/PowerToys_Pckgr/0.79.0/Microsoft.PowerToys_Pckgr.yaml
Labels: scan/failed

#254 New version: GitHub.cli_Pckgr version 2.45.0
  manifests/g/GitHub/cli_Pckgr/2.45.0/GitHub.cli_Pckgr.installer.yaml
  manifests/g/GitHub/cli_Pckgr/2.45.0/GitHub.cli_Pckgr.locale.en-US.yaml
  manifests/g/GitHub/cli_Pckgr/2.45.0/GitHub.cli_Pckgr.yaml
Labels: scan/failed

#258 Update main.py
  automation/main.py
Labels: automerge/force

#259 Update requirements.txt
  automation/requirements.txt
Labels: automerge/force

#270 New version: Logitech.LogiTune_Pckgr version 3.5.249.0
  manifests/l/Logitech/LogiTune_Pckgr/3.5.249.0/Logitech.LogiTune_Pckgr.installer.yaml
  manifests/l/Logitech/LogiTune_Pckgr/3.5.249.0/Logitech.LogiTune_Pckgr.locale.en-US.yaml
  manifests/l/Logitech/LogiTune_Pckgr/3.5.249.0/Logitech.LogiTune_Pckgr.yaml
Labels: scan/passed

#271 New version: evernote.evernote_Pckgr version 10.79.3
  manifests/e/evernote/evernote_Pckgr/10.79.3/evernote.evernote_Pckgr.installer.yaml
  manifests/e/evernote/evernote_Pckgr/10.79.3/evernote.evernote_Pckgr.locale.en-US.yaml
  manifests/e/evernote/evernote_Pckgr/10.79.3/evernote.evernote_Pckgr.yaml
Labels: scan/passed

#273 New version: Bitwarden.Bitwarden_Pckgr version 2024.2.1
  manifests/b/Bitwarden/Bitwarden_Pckgr/2024.2.1/Bitwarden.Bitwarden_Pckgr.installer.yaml
  manifests/b/Bitwarden/Bitwarden_Pckgr/2024.2.1/Bitwarden.Bitwarden_Pckgr.locale.en-US.yaml
  manifests/b/Bitwarden/Bitwarden_Pckgr/2024.2.1/Bitwarden.Bitwarden_Pckgr.locale.pt-BR.yaml
  manifests/b/Bitwarden/Bitwarden_Pckgr/2024.2.1/Bitwarden.Bitwarden_Pckgr.locale.zh-CN.yaml
  manifests/b/Bitwarden/Bitwarden_Pckgr/2024.2.1/Bitwarden.Bitwarden_Pckgr.yaml
Labels: scan/passed

#274 New version: Egnyte.EgnyteDesktopApp_Pckgr version 3.16.2.140
  manifests/e/Egnyte/EgnyteDesktopApp_Pckgr/3.16.2.140/Egnyte.EgnyteDesktopApp_Pckgr.installer.yaml
  manifests/e/Egnyte/EgnyteDesktopApp_Pckgr/3.16.2.140/Egnyte.EgnyteDesktopApp_Pckgr.locale.en-US.yaml
  manifests/e/Egnyte/EgnyteDesktopApp_Pckgr/3.16.2.140/Egnyte.EgnyteDesktopApp_Pckgr.yaml
Labels: scan/passed

#272 Update main.py
  automation/main.py
Labels: automerge/force

#265 New version: TeamViewer.TeamViewer_Pckgr version 15.51.6
  manifests/t/TeamViewer/TeamViewer_Pckgr/15.51.6/TeamViewer.TeamViewer_Pckgr.installer.yaml
  manifests/t/TeamViewer/TeamViewer_Pckgr/15.51.6/TeamViewer.TeamViewer_Pckgr.locale.de-DE.yaml
  manifests/t/TeamViewer/TeamViewer_Pckgr/15.51.6/TeamViewer.TeamViewer_Pckgr.locale.en-US.yaml
  manifests/t/TeamViewer/TeamViewer_Pckgr/15.51.6/TeamViewer.TeamViewer_Pckgr.locale.zh-CN.yaml
  manifests/t/TeamViewer/TeamViewer_Pckgr/15.51.6/TeamViewer.TeamViewer_Pckgr.yaml
Labels: scan/passed

#268 New version: Axosoft.GitKraken_Pckgr version 9.13.0
  manifests/a/Axosoft/GitKraken_Pckgr/9.13.0/Axosoft.GitKraken_Pckgr.installer.yaml
  manifests/a/Axosoft/GitKraken_Pckgr/9.13.0/Axosoft.GitKraken_Pckgr.locale.en-US.yaml
  manifests/a/Axosoft/GitKraken_Pckgr/9.13.0/Axosoft.GitKraken_Pckgr.yaml
Labels: scan/passed

#257 New version: Postman.Postman_Pckgr version 10.23.9
  manifests/p/Postman/Postman_Pckgr/10.23.9/Postman.Postman_Pckgr.installer.yaml
  manifests/p/Postman/Postman_Pckgr/10.23.9/Postman.Postman_Pckgr.locale.en-US.yaml
  manifests/p/Postman/Postman_Pckgr/10.23.9/Postman.Postman_Pckgr.yaml
Labels: scan/passed

#266 New version: Cisco.CiscoWebexMeetings_Pckgr version 44.2.1.6
  manifests/c/Cisco/CiscoWebexMeetings_Pckgr/44.2.1.6/Cisco.CiscoWebexMeetings_Pckgr.installer.yaml
  manifests/c/Cisco/CiscoWebexMeetings_Pckgr/44.2.1.6/Cisco.CiscoWebexMeetings_Pckgr.locale.en-US.yaml
  manifests/c/Cisco/CiscoWebexMeetings_Pckgr/44.2.1.6/Cisco.CiscoWebexMeetings_Pckgr.yaml
Labels: scan/passed

#263 New version: Microsoft.Office_Pckgr version 16.0.17328.20162
  manifests/m/Microsoft/Office_Pckgr/16.0.17328.20162/Microsoft.Office_Pckgr.installer.yaml
  manifests/m/Microsoft/Office_Pckgr/16.0.17328.20162/Microsoft.Office_Pckgr.locale.en-US.yaml
  manifests/m/Microsoft/Office_Pckgr/16.0.17328.20162/Microsoft.Office_Pckgr.yaml
Labels: scan/passed

#267 New version: TechSmith.Snagit.2024_Pckgr version 24.1.0
  manifests/t/TechSmith/Snagit/2024_Pckgr/24.1.0/TechSmith.Snagit.2024_Pckgr.installer.yaml
  manifests/t/TechSmith/Snagit/2024_Pckgr/24.1.0/TechSmith.Snagit.2024_Pckgr.locale.en-US.yaml
  manifests/t/TechSmith/Snagit/2024_Pckgr/24.1.0/TechSmith.Snagit.2024_Pckgr.yaml
Labels: scan/passed

#275 New version: OpenJS.NodeJS_Pckgr version 21.7.0
  manifests/o/OpenJS/NodeJS_Pckgr/21.7.0/OpenJS.NodeJS_Pckgr.installer.yaml
  manifests/o/OpenJS/NodeJS_Pckgr/21.7.0/OpenJS.NodeJS_Pckgr.locale.en-US.yaml
  manifests/o/OpenJS/NodeJS_Pckgr/21.7.0/OpenJS.NodeJS_Pckgr.locale.zh-CN.yaml
  manifests/o/OpenJS/NodeJS_Pckgr/21.7.0/OpenJS.NodeJS_Pckgr.yaml
Labels: scan/passed

#276 New version: Microsoft.Edge_Pckgr version 122.0.2365.80
  manifests/m/Microsoft/Edge_Pckgr/122.0.2365.80/Microsoft.Edge_Pckgr.installer.yaml
  manifests/m/Microsoft/Edge_Pckgr/122.0.2365.80/Microsoft.Edge_Pckgr.locale.en-US.yaml
  manifests/m/Microsoft/Edge_Pckgr/122.0.2365.80/Microsoft.Edge_Pckgr.locale.nb-NO.yaml
  manifests/m/Microsoft/Edge_Pckgr/122.0.2365.80/Microsoft.Edge_Pckgr.yaml
Labels: scan/passed

#277 New version: Grammarly.Grammarly_Pckgr version 1.2.67.1336
  manifests/g/Grammarly/Grammarly_Pckgr/1.2.67.1336/Grammarly.Grammarly_Pckgr.installer.yaml
  manifests/g/Grammarly/Grammarly_Pckgr/1.2.67.1336/Grammarly.Grammarly_Pckgr.locale.en-US.yaml
  manifests/g/Grammarly/Grammarly_Pckgr/1.2.67.1336/Grammarly.Grammarly_Pckgr.locale.zh-CN.yaml
  manifests/g/Grammarly/Grammarly_Pckgr/1.2.67.1336/Grammarly.Grammarly_Pckgr.yaml
Labels: scan/passed

#278 New version: Postman.Postman_Pckgr version 10.24.0
  manifests/p/Postman/Postman_Pckgr/10.24.0/Postman.Postman_Pckgr.installer.yaml
  manifests/p/Postman/Postman_Pckgr/10.24.0/Postman.Postman_Pckgr.locale.en-US.yaml
  manifests/p/Postman/Postman_Pckgr/10.24.0/Postman.Postman_Pckgr.yaml
Labels: scan/passed

#279 New version: OpenJS.NodeJS_Pckgr version 21.7.1
  manifests/o/OpenJS/NodeJS_Pckgr/21.7.1/OpenJS.NodeJS_Pckgr.installer.yaml
  manifests/o/OpenJS/NodeJS_Pckgr/21.7.1/OpenJS.NodeJS_Pckgr.locale.en-US.yaml
  manifests/o/OpenJS/NodeJS_Pckgr/21.7.1/OpenJS.NodeJS_Pckgr.locale.zh-CN.yaml
  manifests/o/OpenJS/NodeJS_Pckgr/21.7.1/OpenJS.NodeJS_Pckgr.yaml
Labels: scan/passed

#280 New version: Zoom.Zoom_Pckgr version 5.17.11.34827
  manifests/z/Zoom/Zoom_Pckgr/5.17.11.34827/Zoom.Zoom_Pckgr.installer.yaml
  manifests/z/Zoom/Zoom_Pckgr/5.17.11.34827/Zoom.Zoom_Pckgr.locale.en-US.yaml
  manifests/z/Zoom/Zoom_Pckgr/5.17.11.34827/Zoom.Zoom_Pckgr.locale.zh-CN.yaml
  manifests/z/Zoom/Zoom_Pckgr/5.17.11.34827/Zoom.Zoom_Pckgr.yaml
Labels: scan/passed

#288 New version: TechSmith.Snagit.2024_Pckgr version 24.1.1
  manifests/t/TechSmith/Snagit/2024_Pckgr/24.1.1/TechSmith.Snagit.2024_Pckgr.installer.yaml
  manifests/t/TechSmith/Snagit/2024_Pckgr/24.1.1/TechSmith.Snagit.2024_Pckgr.locale.en-US.yaml
  manifests/t/TechSmith/Snagit/2024_Pckgr/24.1.1/TechSmith.Snagit.2024_Pckgr.yaml
Labels: scan/passed

#289 New version: Grammarly.Grammarly_Pckgr version 1.2.68.1342
  manifests/g/Grammarly/Grammarly_Pckgr/1.2.68.1342/Grammarly.Grammarly_Pckgr.installer.yaml
  manifests/g/Grammarly/Grammarly_Pckgr/1.2.68.1342/Grammarly.Grammarly_Pckgr.locale.en-US.yaml
  manifests/g/Grammarly/Grammarly_Pckgr/1.2.68.1342/Grammarly.Grammarly_Pckgr.locale.zh-CN.yaml
  manifests/g/Grammarly/Grammarly_Pckgr/1.2.68.1342/Grammarly.Grammarly_Pckgr.yaml
Labels: scan/passed

#291 New version: Adobe.Acrobat.Reader.32-bit_Pckgr version 24.001.20604
  manifests/a/Adobe/Acrobat/Reader/32-bit_Pckgr/24.001.20604/Adobe.Acrobat.Reader.32-bit_Pckgr.installer.yaml
  manifests/a/Adobe/Acrobat/Reader/32-bit_Pckgr/24.001.20604/Adobe.Acrobat.Reader.32-bit_Pckgr.locale.en-US.yaml
  manifests/a/Adobe/Acrobat/Reader/32-bit_Pckgr/24.001.20604/Adobe.Acrobat.Reader.32-bit_Pckgr.yaml
Labels: scan/passed

#290 New version: Adobe.Acrobat.Reader.64-bit_Pckgr version 24.001.20604
  manifests/a/Adobe/Acrobat/Reader/64-bit_Pckgr/24.001.20604/Adobe.Acrobat.Reader.64-bit_Pckgr.installer.yaml
  manifests/a/Adobe/Acrobat/Reader/64-bit_Pckgr/24.001.20604/Adobe.Acrobat.Reader.64-bit_Pckgr.locale.en-US.yaml
  manifests/a/Adobe/Acrobat/Reader/64-bit_Pckgr/24.001.20604/Adobe.Acrobat.Reader.64-bit_Pckgr.yaml
Labels: scan/passed

#294 New version: Postman.Postman_Pckgr version 10.24.3
  manifests/p/Postman/Postman_Pckgr/10.24.3/Postman.Postman_Pckgr.installer.yaml
  manifests/p/Postman/Postman_Pckgr/10.24.3/Postman.Postman_Pckgr.locale.en-US.yaml
  manifests/p/Postman/Postman_Pckgr/10.24.3/Postman.Postman_Pckgr.yaml
Labels: scan/passed

#295 New version: Microsoft.Edge_Pckgr version 122.0.2365.92
  manifests/m/Microsoft/Edge_Pckgr/122.0.2365.92/Microsoft.Edge_Pckgr.installer.yaml
  manifests/m/Microsoft/Edge_Pckgr/122.0.2365.92/Microsoft.Edge_Pckgr.locale.en-US.yaml
  manifests/m/Microsoft/Edge_Pckgr/122.0.2365.92/Microsoft.Edge_Pckgr.locale.nb-NO.yaml
  manifests/m/Microsoft/Edge_Pckgr/122.0.2365.92/Microsoft.Edge_Pckgr.yaml
Labels: scan/passed

#298 New version: SlackTechnologies.Slack_Pckgr version 4.37.94
  manifests/s/SlackTechnologies/Slack_Pckgr/4.37.94/SlackTechnologies.Slack_Pckgr.installer.yaml
  manifests/s/SlackTechnologies/Slack_Pckgr/4.37.94/SlackTechnologies.Slack_Pckgr.locale.en-US.yaml
  manifests/s/SlackTechnologies/Slack_Pckgr/4.37.94/SlackTechnologies.Slack_Pckgr.yaml
Labels: scan/passed

#299 New version: Kitware.CMake_Pckgr version 3.28.4
  manifests/k/Kitware/CMake_Pckgr/3.28.4/Kitware.CMake_Pckgr.installer.yaml
  manifests/k/Kitware/CMake_Pckgr/3.28.4/Kitware.CMake_Pckgr.locale.en-US.yaml
  manifests/k/Kitware/CMake_Pckgr/3.28.4/Kitware.CMake_Pckgr.yaml
Labels: scan/passed

#302 New version: GitHub.cli_Pckgr version 2.46.0
  manifests/g/GitHub/cli_Pckgr/2.46.0/GitHub.cli_Pckgr.installer.yaml
  manifests/g/GitHub/cli_Pckgr/2.46.0/GitHub.cli_Pckgr.locale.en-US.yaml
  manifests/g/GitHub/cli_Pckgr/2.46.0/GitHub.cli_Pckgr.yaml
Labels: scan/passed

#303 New version: AgileBits.1Password_Pckgr version 8.10.28
  manifests/a/AgileBits/1Password_Pckgr/8.10.28/AgileBits.1Password_Pckgr.installer.yaml
  manifests/a/AgileBits/1Password_Pckgr/8.10.28/AgileBits.1Password_Pckgr.locale.en-US.yaml
  manifests/a/AgileBits/1Password_Pckgr/8.10.28/AgileBits.1Password_Pckgr.yaml
Labels: scan/passed

#300 New version: Adobe.Acrobat.Reader.64-bit_Pckgr version 24.001.20615
  manifests/a/Adobe/Acrobat/Reader/64-bit_Pckgr/24.001.20615/Adobe.Acrobat.Reader.64-bit_Pckgr.installer.yaml
  manifests/a/Adobe/Acrobat/Reader/64-bit_Pckgr/24.001.20615/Adobe.Acrobat.Reader.64-bit_Pckgr.locale.en-US.yaml
  manifests/a/Adobe/Acrobat/Reader/64-bit_Pckgr/24.001.20615/Adobe.Acrobat.Reader.64-bit_Pckgr.yaml
Labels: scan/passed

#301 New version: Adobe.Acrobat.Reader.32-bit_Pckgr version 24.001.20615
  manifests/a/Adobe/Acrobat/Reader/32-bit_Pckgr/24.001.20615/Adobe.Acrobat.Reader.32-bit_Pckgr.installer.yaml
  manifests/a/Adobe/Acrobat/Reader/32-bit_Pckgr/24.001.20615/Adobe.Acrobat.Reader.32-bit_Pckgr.locale.en-US.yaml
  manifests/a/Adobe/Acrobat/Reader/32-bit_Pckgr/24.001.20615/Adobe.Acrobat.Reader.32-bit_Pckgr.yaml
Labels: scan/passed

#304 New version: Cisco.CiscoWebexMeetings_Pckgr version 44.3.0.146
  manifests/c/Cisco/CiscoWebexMeetings_Pckgr/44.3.0.146/Cisco.CiscoWebexMeetings_Pckgr.installer.yaml
  manifests/c/Cisco/CiscoWebexMeetings_Pckgr/44.3.0.146/Cisco.CiscoWebexMeetings_Pckgr.locale.en-US.yaml
  manifests/c/Cisco/CiscoWebexMeetings_Pckgr/44.3.0.146/Cisco.CiscoWebexMeetings_Pckgr.yaml
Labels: scan/passed

#305 New version: Kitware.CMake_Pckgr version 3.29.0
  manifests/k/Kitware/CMake_Pckgr/3.29.0/Kitware.CMake_Pckgr.installer.yaml
  manifests/k/Kitware/CMake_Pckgr/3.29.0/Kitware.CMake_Pckgr.locale.en-US.yaml
  manifests/k/Kitware/CMake_Pckgr/3.29.0/Kitware.CMake_Pckgr.yaml
Labels: scan/passed

#306 New version: Microsoft.Edge_Pckgr version 122.0.2365.106
  manifests/m/Microsoft/Edge_Pckgr/122.0.2365.106/Microsoft.Edge_Pckgr.installer.yaml
  manifests/m/Microsoft/Edge_Pckgr/122.0.2365.106/Microsoft.Edge_Pckgr.locale.en-US.yaml
  manifests/m/Microsoft/Edge_Pckgr/122.0.2365.106/Microsoft.Edge_Pckgr.locale.nb-NO.yaml
  manifests/m/Microsoft/Edge_Pckgr/122.0.2365.106/Microsoft.Edge_Pckgr.yaml
Labels: scan/passed

#308 New version: SlackTechnologies.Slack_Pckgr version 4.37.98
  manifests/s/SlackTechnologies/Slack_Pckgr/4.37.98/SlackTechnologies.Slack_Pckgr.installer.yaml
  manifests/s/SlackTechnologies/Slack_Pckgr/4.37.98/SlackTechnologies.Slack_Pckgr.locale.en-US.yaml
  manifests/s/SlackTechnologies/Slack_Pckgr/4.37.98/SlackTechnologies.Slack_Pckgr.yaml
Labels: scan/passed

#310 New version: JGraph.Draw_Pckgr version 24.1.0
  manifests/j/JGraph/Draw_Pckgr/24.1.0/JGraph.Draw_Pckgr.installer.yaml
  manifests/j/JGraph/Draw_Pckgr/24.1.0/JGraph.Draw_Pckgr.locale.en-US.yaml
  manifests/j/JGraph/Draw_Pckgr/24.1.0/JGraph.Draw_Pckgr.yaml
Labels: scan/passed

#311 New version: dbeaver.dbeaver_Pckgr version 24.0.1
  manifests/d/dbeaver/dbeaver_Pckgr/24.0.1/dbeaver.dbeaver_Pckgr.installer.yaml
  manifests/d/dbeaver/dbeaver_Pckgr/24.0.1/dbeaver.dbeaver_Pckgr.locale.en-US.yaml
  manifests/d/dbeaver/dbeaver_Pckgr/24.0.1/dbeaver.dbeaver_Pckgr.yaml
Labels: scan/passed

#314 New version: NordSecurity.NordPass_Pckgr version 5.14.23
  manifests/n/NordSecurity/NordPass_Pckgr/5.14.23/NordSecurity.NordPass_Pckgr.installer.yaml
  manifests/n/NordSecurity/NordPass_Pckgr/5.14.23/NordSecurity.NordPass_Pckgr.locale.en-US.yaml
  manifests/n/NordSecurity/NordPass_Pckgr/5.14.23/NordSecurity.NordPass_Pckgr.yaml
Labels: scan/passed

#313 New version: Microsoft.PowerBI_Pckgr version 2.127.1080.0
  manifests/m/Microsoft/PowerBI_Pckgr/2.127.1080.0/Microsoft.PowerBI_Pckgr.installer.yaml
  manifests/m/Microsoft/PowerBI_Pckgr/2.127.1080.0/Microsoft.PowerBI_Pckgr.locale.en-US.yaml
  manifests/m/Microsoft/PowerBI_Pckgr/2.127.1080.0/Microsoft.PowerBI_Pckgr.yaml
Labels: scan/passed

#316 New version: TeamViewer.TeamViewer_Pckgr version 15.52.3
  manifests/t/TeamViewer/TeamViewer_Pckgr/15.52.3/TeamViewer.TeamViewer_Pckgr.installer.yaml
  manifests/t/TeamViewer/TeamViewer_Pckgr/15.52.3/TeamViewer.TeamViewer_Pckgr.locale.de-DE.yaml
  manifests/t/TeamViewer/TeamViewer_Pckgr/15.52.3/TeamViewer.TeamViewer_Pckgr.locale.en-US.yaml
  manifests/t/TeamViewer/TeamViewer_Pckgr/15.52.3/TeamViewer.TeamViewer_Pckgr.locale.zh-CN.yaml
  manifests/t/TeamViewer/TeamViewer_Pckgr/15.52.3/TeamViewer.TeamViewer_Pckgr.yaml
Labels: scan/passed

#319 New version: Microsoft.Edge_Pckgr version 123.0.2420.65
  manifests/m/Microsoft/Edge_Pckgr/123.0.2420.65/Microsoft.Edge_Pckgr.installer.yaml
  manifests/m/Microsoft/Edge_Pckgr/123.0.2420.65/Microsoft.Edge_Pckgr.locale.en-US.yaml
  manifests/m/Microsoft/Edge_Pckgr/123.0.2420.65/Microsoft.Edge_Pckgr.locale.nb-NO.yaml
  manifests/m/Microsoft/Edge_Pckgr/123.0.2420.65/Microsoft.Edge_Pckgr.yaml
Labels: scan/passed

#322 New version: WiresharkFoundation.Wireshark_Pckgr version 4.2.4
  manifests/w/WiresharkFoundation/Wireshark_Pckgr/4.2.4/WiresharkFoundation.Wireshark_Pckgr.installer.yaml
  manifests/w/WiresharkFoundation/Wireshark_Pckgr/4.2.4/WiresharkFoundation.Wireshark_Pckgr.locale.en-US.yaml
  manifests/w/WiresharkFoundation/Wireshark_Pckgr/4.2.4/WiresharkFoundation.Wireshark_Pckgr.yaml
Labels: scan/passed

#321 New version: Zoom.ZoomOutlookPlugin_Pckgr version 6.0.0.1012
  manifests/z/Zoom/ZoomOutlookPlugin_Pckgr/6.0.0.1012/Zoom.ZoomOutlookPlugin_Pckgr.installer.yaml
  manifests/z/Zoom/ZoomOutlookPlugin_Pckgr/6.0.0.1012/Zoom.ZoomOutlookPlugin_Pckgr.locale.en-US.yaml
  manifests/z/Zoom/ZoomOutlookPlugin_Pckgr/6.0.0.1012/Zoom.ZoomOutlookPlugin_Pckgr.locale.zh-CN.yaml
  manifests/z/Zoom/ZoomOutlookPlugin_Pckgr/6.0.0.1012/Zoom.ZoomOutlookPlugin_Pckgr.yaml
Labels: scan/passed

#324 New version: Microsoft.PowerBI_Pckgr version 2.127.1235.0
  manifests/m/Microsoft/PowerBI_Pckgr/2.127.1235.0/Microsoft.PowerBI_Pckgr.installer.yaml
  manifests/m/Microsoft/PowerBI_Pckgr/2.127.1235.0/Microsoft.PowerBI_Pckgr.locale.en-US.yaml
  manifests/m/Microsoft/PowerBI_Pckgr/2.127.1235.0/Microsoft.PowerBI_Pckgr.yaml
Labels: scan/passed
