Repository PckgrBot/winget-pkgs-private, pull requests merged in 2024-02, with the labels that each got.

#54 Brave.Brave version 121.1.62.153
  manifests/b/Brave/Brave/121.1.62.153/Brave.Brave.installer.yaml
  manifests/b/Brave/Brave/121.1.62.153/Brave.Brave.locale.en-US.yaml
  manifests/b/Brave/Brave/121.1.62.153/Brave.Brave.locale.zh-CN.yaml
  manifests/b/Brave/Brave/121.1.62.153/Brave.Brave.yaml
Labels: scan/failed

#56 New version: Microsoft.Teams.Classic version 1.7.00.1864
  manifests/m/Microsoft/Teams/Classic/1.7.00.1864/Microsoft.Teams.Classic.installer.yaml
  manifests/m/Microsoft/Teams/Classic/1.7.00.1864/Microsoft.Teams.Classic.locale.en-US.yaml
  manifests/m/Microsoft/Teams/Classic/1.7.00.1864/Microsoft.Teams.Classic.yaml
Labels: scan/passed

#57 New version: Docker.DockerDesktop version 4.27.1
  manifests/d/Docker/DockerDesktop/4.27.1/Docker.DockerDesktop.installer.yaml
  manifests/d/Docker/DockerDesktop/4.27.1/Docker.DockerDesktop.locale.en-US.yaml
  manifests/d/Docker/DockerDesktop/4.27.1/Docker.DockerDesktop.yaml
Labels: scan/passed

#58 Microsoft.VisualStudioCode version 1.85.2
  manifests/m/Microsoft/VisualStudioCode/1.85.2/Microsoft.VisualStudioCode.installer.yaml
  manifests/m/Microsoft/VisualStudioCode/1.85.2/Microsoft.VisualStudioCode.locale.en-US.yaml
  manifests/m/Microsoft/VisualStudioCode/1.85.2/Microsoft.VisualStudioCode.yaml
Labels: scan/passed

#59 Microsoft.PowerToys version 0.77.0
  manifests/m/Microsoft/PowerToys/0.77.0/Microsoft.PowerToys.installer.yaml
  manifests/m/Microsoft/PowerToys/0.77.0/Microsoft.PowerToys.locale.en-US.yaml
  manifests/m/Microsoft/PowerToys/0.77.0/Microsoft.PowerToys.yaml
Labels: scan/passed

#60 New version: geeksoftwareGmbH.PDF24Creator version 11.16.0
  manifests/g/geeksoftwareGmbH/PDF24Creator/11.16.0/geeksoftwareGmbH.PDF24Creator.installer.yaml
  manifests/g/geeksoftwareGmbH/PDF24Creator/11.16.0/geeksoftwareGmbH.PDF24Creator.locale.de-DE.yaml
  manifests/g/geeksoftwareGmbH/PDF24Creator/11.16.0/geeksoftwareGmbH.PDF24Creator.locale.en-US.yaml
  manifests/g/geeksoftwareGmbH/PDF24Creator/11.16.0/geeksoftwareGmbH.PDF24Creator.yaml
Labels: scan/passed

#62 New version: Logitech.Options version 10.20.11
  manifests/l/Logitech/Options/10.20.11/Logitech.Options.installer.yaml
  manifests/l/Logitech/Options/10.20.11/Logitech.Options.locale.en-US.yaml
  manifests/l/Logitech/Options/10.20.11/Logitech.Options.locale.ja-JP.yaml
  manifests/l/Logitech/Options/10.20.11/Logitech.Options.yaml
Labels: scan/passed

#63 Update geeksoftwareGmbH.PDF24Creator.installer.yaml
  manifests/g/geeksoftwareGmbH/PDF24Creator/11.16.0/geeksoftwareGmbH.PDF24Creator.installer.yaml
Labels: scan/passed

#64 New version: Google.Chrome version 121.0.6167.140
  manifests/g/Google/Chrome/121.0.6167.140/Google.Chrome.installer.yaml
  manifests/g/Google/Chrome/121.0.6167.140/Google.Chrome.locale.en-US.yaml
  manifests/g/Google/Chrome/121.0.6167.140/Google.Chrome.locale.nb-NO.yaml
  manifests/g/Google/Chrome/121.0.6167.140/Google.Chrome.locale.zh-CN.yaml
  manifests/g/Google/Chrome/121.0.6167.140/Google.Chrome.yaml
Labels: scan/passed

#65 New version: SonicWALL.NetExtender version 10.2.339
  manifests/s/SonicWALL/NetExtender/10.2.339/SonicWALL.NetExtender.installer.yaml
  manifests/s/SonicWALL/NetExtender/10.2.339/SonicWALL.NetExtender.locale.en-US.yaml
  manifests/s/SonicWALL/NetExtender/10.2.339/SonicWALL.NetExtender.yaml
Labels: scan/passed

#66 New version: AntibodySoftware.WizTree_Pckgr version 4.18
  manifests/a/AntibodySoftware/WizTree_Pckgr/4.18/AntibodySoftware.WizTree_Pckgr.installer.yaml
  manifests/a/AntibodySoftware/WizTree_Pckgr/4.18/AntibodySoftware.WizTree_Pckgr.locale.en-US.yaml
  manifests/a/AntibodySoftware/WizTree_Pckgr/4.18/AntibodySoftware.WizTree_Pckgr.yaml
Labels: scan/passed

#67 New version: Amazon.AWSCLI_Pckgr version 2.15.17
  manifests/a/Amazon/AWSCLI_Pckgr/2.15.17/Amazon.AWSCLI_Pckgr.installer.yaml
  manifests/a/Amazon/AWSCLI_Pckgr/2.15.17/Amazon.AWSCLI_Pckgr.locale.en-US.yaml
  manifests/a/Amazon/AWSCLI_Pckgr/2.15.17/Amazon.AWSCLI_Pckgr.yaml
Labels: scan/passed

#68 New version: Citrix.Workspace_Pckgr version 23.11.1.140
  manifests/c/Citrix/Workspace_Pckgr/23.11.1.140/Citrix.Workspace_Pckgr.installer.yaml
  manifests/c/Citrix/Workspace_Pckgr/23.11.1.140/Citrix.Workspace_Pckgr.locale.en-US.yaml
  manifests/c/Citrix/Workspace_Pckgr/23.11.1.140/Citrix.Workspace_Pckgr.yaml
Labels: scan/passed

#69 New version: Grammarly.Grammarly_Pckgr version 1.2.62.1306
  manifests/g/Grammarly/Grammarly_Pckgr/1.2.62.1306/Grammarly.Grammarly_Pckgr.installer.yaml
  manifests/g/Grammarly/Grammarly_Pckgr/1.2.62.1306/Grammarly.Grammarly_Pckgr.locale.en-US.yaml
  manifests/g/Grammarly/Grammarly_Pckgr/1.2.62.1306/Grammarly.Grammarly_Pckgr.locale.zh-CN.yaml
  manifests/g/Grammarly/Grammarly_Pckgr/1.2.62.1306/Grammarly.Grammarly_Pckgr.yaml
Labels: scan/passed

#70 New version: dbeaver.dbeaver_Pckgr version 23.3.4
  manifests/d/dbeaver/dbeaver_Pckgr/23.3.4/dbeaver.dbeaver_Pckgr.installer.yaml
  manifests/d/dbeaver/dbeaver_Pckgr/23.3.4/dbeaver.dbeaver_Pckgr.locale.en-US.yaml
  manifests/d/dbeaver/dbeaver_Pckgr/23.3.4/dbeaver.dbeaver_Pckgr.yaml
Labels: scan/passed

#72 New version: Jabra.Direct_Pckgr version 6.13.01801
  manifests/j/Jabra/Direct_Pckgr/6.13.01801/Jabra.Direct_Pckgr.installer.yaml
  manifests/j/Jabra/Direct_Pckgr/6.13.01801/Jabra.Direct_Pckgr.locale.en-US.yaml
  manifests/j/Jabra/Direct_Pckgr/6.13.01801/Jabra.Direct_Pckgr.yaml
Labels: scan/passed

#74 New version: Canva.Canva_Pckgr version 1.81.0
  manifests/c/Canva/Canva_Pckgr/1.81.0/Canva.Canva_Pckgr.installer.yaml
  manifests/c/Canva/Canva_Pckgr/1.81.0/Canva.Canva_Pckgr.locale.en-US.yaml
  manifests/c/Canva/Canva_Pckgr/1.81.0/Canva.Canva_Pckgr.yaml
Labels: scan/passed

#77 New version: Krisp.Krisp_Pckgr version 2.33.3
  manifests/k/Krisp/Krisp_Pckgr/2.33.3/Krisp.Krisp_Pckgr.installer.yaml
  manifests/k/Krisp/Krisp_Pckgr/2.33.3/Krisp.Krisp_Pckgr.locale.en-US.yaml
  manifests/k/Krisp/Krisp_Pckgr/2.33.3/Krisp.Krisp_Pckgr.yaml
Labels: scan/passed

#76 New version: Kitware.CMake_Pckgr version 3.28.3
  manifests/k/Kitware/CMake_Pckgr/3.28.3/Kitware.CMake_Pckgr.installer.yaml
  manifests/k/Kitware/CMake_Pckgr/3.28.3/Kitware.CMake_Pckgr.locale.en-US.yaml
  manifests/k/Kitware/CMake_Pckgr/3.28.3/Kitware.CMake_Pckgr.yaml
Labels: scan/passed

#79 New version: Surfshark.Surfshark_Pckgr version 5.5.2999
  manifests/s/Surfshark/Surfshark_Pckgr/5.5.2999/Surfshark.Surfshark_Pckgr.installer.yaml
  manifests/s/Surfshark/Surfshark_Pckgr/5.5.2999/Surfshark.Surfshark_Pckgr.locale.en-US.yaml
  manifests/s/Surfshark/Surfshark_Pckgr/5.5.2999/Surfshark.Surfshark_Pckgr.yaml
Labels: scan/passed

#78 New version: Google.GoogleDrive_Pckgr version 86.0.2.0
  manifests/g/Google/GoogleDrive_Pckgr/86.0.2.0/Google.GoogleDrive_Pckgr.installer.yaml
  manifests/g/Google/GoogleDrive_Pckgr/86.0.2.0/Google.GoogleDrive_Pckgr.locale.en-US.yaml
  manifests/g/Google/GoogleDrive_Pckgr/86.0.2.0/Google.GoogleDrive_Pckgr.locale.zh-CN.yaml
  manifests/g/Google/GoogleDrive_Pckgr/86.0.2.0/Google.GoogleDrive_Pckgr.yaml
Labels: scan/passed

#80 New version: Microsoft.Edge_Pckgr version 121.0.2277.106
  manifests/m/Microsoft/Edge_Pckgr/121.0.2277.106/Microsoft.Edge_Pckgr.installer.yaml
  manifests/m/Microsoft/Edge_Pckgr/121.0.2277.106/Microsoft.Edge_Pckgr.locale.en-US.yaml
  manifests/m/Microsoft/Edge_Pckgr/121.0.2277.106/Microsoft.Edge_Pckgr.locale.nb-NO.yaml
  manifests/m/Microsoft/Edge_Pckgr/121.0.2277.106/Microsoft.Edge_Pckgr.yaml
Labels: scan/passed

#81 New version: Amazon.WorkspacesClient_Pckgr version 5.18.0
  manifests/a/Amazon/WorkspacesClient_Pckgr/5.18.0/Amazon.WorkspacesClient_Pckgr.installer.yaml
  manifests/a/Amazon/WorkspacesClient_Pckgr/5.18.0/Amazon.WorkspacesClient_Pckgr.locale.en-US.yaml
  manifests/a/Amazon/WorkspacesClient_Pckgr/5.18.0/Amazon.WorkspacesClient_Pckgr.yaml
Labels: scan/passed

#83 Notepad++.Notepad++_Pckgr version 8.6.2
  manifests/n/Notepad++/Notepad++_Pckgr/8.6.2/Notepad++.Notepad++_Pckgr.installer.yaml
  manifests/n/Notepad++/Notepad++_Pckgr/8.6.2/Notepad++.Notepad++_Pckgr.locale.en-US.yaml
  manifests/n/Notepad++/Notepad++_Pckgr/8.6.2/Notepad++.Notepad++_Pckgr.yaml
Labels: scan/failed

#84 New version: Microsoft.PowerToys_Pckgr version 0.78.0
  manifests/m/Microsoft/PowerToys_Pckgr/0.78.0/Microsoft.PowerToys_Pckgr.installer.yaml
  manifests/m/Microsoft/PowerToys_Pckgr/0.78.0/Microsoft.PowerToys_Pckgr.locale.en-US.yaml
  manifests/m/Microsoft/PowerToys_Pckgr/0.78.0/Microsoft.PowerToys_Pckgr.yaml
Labels: scan/passed

#86 New version: Google.Chrome_Pckgr version 121.0.6167.160
  manifests/g/Google/Chrome_Pckgr/121.0.6167.160/Google.Chrome_Pckgr.installer.yaml
  manifests/g/Google/Chrome_Pckgr/121.0.6167.160/Google.Chrome_Pckgr.locale.en-US.yaml
  manifests/g/Google/Chrome_Pckgr/121.0.6167.160/Google.Chrome_Pckgr.locale.nb-NO.yaml
  manifests/g/Google/Chrome_Pckgr/121.0.6167.160/Google.Chrome_Pckgr.locale.zh-CN.yaml
  manifests/g/Google/Chrome_Pckgr/121.0.6167.160/Google.Chrome_Pckgr.yaml
Labels: scan/passed

#87 New version: Opera.OperaGX_Pckgr version 106.0.4998.74
  manifests/o/Opera/OperaGX_Pckgr/106.0.4998.74/Opera.OperaGX_Pckgr.installer.yaml
  manifests/o/Opera/OperaGX_Pckgr/106.0.4998.74/Opera.OperaGX_Pckgr.locale.en-US.yaml
  manifests/o/Opera/OperaGX_Pckgr/106.0.4998.74/Opera.OperaGX_Pckgr.yaml
Labels: scan/passed

#88 New version: Grammarly.Grammarly_Pckgr version 1.2.63.1310
  manifests/g/Grammarly/Grammarly_Pckgr/1.2.63.1310/Grammarly.Grammarly_Pckgr.installer.yaml
  manifests/g/Grammarly/Grammarly_Pckgr/1.2.63.1310/Grammarly.Grammarly_Pckgr.locale.en-US.yaml
  manifests/g/Grammarly/Grammarly_Pckgr/1.2.63.1310/Grammarly.Grammarly_Pckgr.locale.zh-CN.yaml
  manifests/g/Grammarly/Grammarly_Pckgr/1.2.63.1310/Grammarly.Grammarly_Pckgr.yaml
Labels: scan/passed

#89 New version: Opera.OperaGX_Pckgr version 106.0.4998.76
  manifests/o/Opera/OperaGX_Pckgr/106.0.4998.76/Opera.OperaGX_Pckgr.installer.yaml
  manifests/o/Opera/OperaGX_Pckgr/106.0.4998.76/Opera.OperaGX_Pckgr.locale.en-US.yaml
  manifests/o/Opera/OperaGX_Pckgr/106.0.4998.76/Opera.OperaGX_Pckgr.yaml
Labels: scan/passed

#90 New version: evernote.evernote_Pckgr version 10.75.1
  manifests/e/evernote/evernote_Pckgr/10.75.1/evernote.evernote_Pckgr.installer.yaml
  manifests/e/evernote/evernote_Pckgr/10.75.1/evernote.evernote_Pckgr.locale.en-US.yaml
  manifests/e/evernote/evernote_Pckgr/10.75.1/evernote.evernote_Pckgr.yaml
Labels: scan/passed

#91 New version: dbeaver.dbeaver_Pckgr version 23.3.4
  manifests/d/dbeaver/dbeaver_Pckgr/23.3.4/dbeaver.dbeaver_Pckgr.installer.yaml
Labels: scan/passed

#92 New version: WiseCleaner.WiseDiskCleaner_Pckgr version 11.0.8
  manifests/w/WiseCleaner/WiseDiskCleaner_Pckgr/11.0.8/WiseCleaner.WiseDiskCleaner_Pckgr.installer.yaml
  manifests/w/WiseCleaner/WiseDiskCleaner_Pckgr/11.0.8/WiseCleaner.WiseDiskCleaner_Pckgr.locale.en-US.yaml
  manifests/w/WiseCleaner/WiseDiskCleaner_Pckgr/11.0.8/WiseCleaner.WiseDiskCleaner_Pckgr.yaml
Labels: scan/passed

#93 New version: Opera.Opera_Pckgr version 107.0.5045.15
  manifests/o/Opera/Opera_Pckgr/107.0.5045.15/Opera.Opera_Pckgr.installer.yaml
  manifests/o/Opera/Opera_Pckgr/107.0.5045.15/Opera.Opera_Pckgr.locale.en-US.yaml
  manifests/o/Opera/Opera_Pckgr/107.0.5045.15/Opera.Opera_Pckgr.locale.nb-NO.yaml
  manifests/o/Opera/Opera_Pckgr/107.0.5045.15/Opera.Opera_Pckgr.yaml
Labels: scan/passed

#94 New version: Dialpad.Dialpad_Pckgr version 2401.4.0
  manifests/d/Dialpad/Dialpad_Pckgr/2401.4.0/Dialpad.Dialpad_Pckgr.installer.yaml
  manifests/d/Dialpad/Dialpad_Pckgr/2401.4.0/Dialpad.Dialpad_Pckgr.locale.en-US.yaml
  manifests/d/Dialpad/Dialpad_Pckgr/2401.4.0/Dialpad.Dialpad_Pckgr.yaml
Labels: scan/passed

#95 New version: Amazon.AWSCLI_Pckgr version 2.15.18
  manifests/a/Amazon/AWSCLI_Pckgr/2.15.18/Amazon.AWSCLI_Pckgr.installer.yaml
  manifests/a/Amazon/AWSCLI_Pckgr/2.15.18/Amazon.AWSCLI_Pckgr.locale.en-US.yaml
  manifests/a/Amazon/AWSCLI_Pckgr/2.15.18/Amazon.AWSCLI_Pckgr.yaml
Labels: scan/passed

#97 New version: Bitwarden.Bitwarden_Pckgr version 2024.2.0
  manifests/b/Bitwarden/Bitwarden_Pckgr/2024.2.0/Bitwarden.Bitwarden_Pckgr.installer.yaml
  manifests/b/Bitwarden/Bitwarden_Pckgr/2024.2.0/Bitwarden.Bitwarden_Pckgr.locale.en-US.yaml
  manifests/b/Bitwarden/Bitwarden_Pckgr/2024.2.0/Bitwarden.Bitwarden_Pckgr.locale.pt-BR.yaml
  manifests/b/Bitwarden/Bitwarden_Pckgr/2024.2.0/Bitwarden.Bitwarden_Pckgr.locale.zh-CN.yaml
  manifests/b/Bitwarden/Bitwarden_Pckgr/2024.2.0/Bitwarden.Bitwarden_Pckgr.yaml
Labels: scan/passed

#98 New version: OpenWhisperSystems.Signal_Pckgr version 6.47.0
  manifests/o/OpenWhisperSystems/Signal_Pckgr/6.47.0/OpenWhisperSystems.Signal_Pckgr.installer.yaml
  manifests/o/OpenWhisperSystems/Signal_Pckgr/6.47.0/OpenWhisperSystems.Signal_Pckgr.locale.en-US.yaml
  manifests/o/OpenWhisperSystems/Signal_Pckgr/6.47.0/OpenWhisperSystems.Signal_Pckgr.yaml
Labels: scan/passed

#99 New version: Microsoft.Edge_Pckgr version 121.0.2277.110
  manifests/m/Microsoft/Edge_Pckgr/121.0.2277.110/Microsoft.Edge_Pckgr.installer.yaml
  manifests/m/Microsoft/Edge_Pckgr/121.0.2277.110/Microsoft.Edge_Pckgr.locale.en-US.yaml
  manifests/m/Microsoft/Edge_Pckgr/121.0.2277.110/Microsoft.Edge_Pckgr.locale.nb-NO.yaml
  manifests/m/Microsoft/Edge_Pckgr/121.0.2277.110/Microsoft.Edge_Pckgr.yaml
Labels: scan/passed

#100 New version: Microsoft.VisualStudioCode_Pckgr version 1.86.0
  manifests/m/Microsoft/VisualStudioCode_Pckgr/1.86.0/Microsoft.VisualStudioCode_Pckgr.installer.yaml
  manifests/m/Microsoft/VisualStudioCode_Pckgr/1.86.0/Microsoft.VisualStudioCode_Pckgr.locale.en-US.yaml
  manifests/m/Microsoft/VisualStudioCode_Pckgr/1.86.0/Microsoft.VisualStudioCode_Pckgr.yaml
Labels: scan/passed

#101 New version: Egnyte.EgnyteDesktopApp_Pckgr version 3.16.1.139
  manifests/e/Egnyte/EgnyteDesktopApp_Pckgr/3.16.1.139/Egnyte.EgnyteDesktopApp_Pckgr.installer.yaml
  manifests/e/Egnyte/EgnyteDesktopApp_Pckgr/3.16.1.139/Egnyte.EgnyteDesktopApp_Pckgr.locale.en-US.yaml
  manifests/e/Egnyte/EgnyteDesktopApp_Pckgr/3.16.1.139/Egnyte.EgnyteDesktopApp_Pckgr.yaml
Labels: scan/passed

#102 New version: Microsoft.VisualStudioCode_Pckgr version 1.86.1
  manifests/m/Microsoft/VisualStudioCode_Pckgr/1.86.1/Microsoft.VisualStudioCode_Pckgr.installer.yaml
  manifests/m/Microsoft/VisualStudioCode_Pckgr/1.86.1/Microsoft.VisualStudioCode_Pckgr.locale.en-US.yaml
  manifests/m/Microsoft/VisualStudioCode_Pckgr/1.86.1/Microsoft.VisualStudioCode_Pckgr.yaml
Labels: scan/passed

#103 New version: Docker.DockerDesktop_Pckgr version 4.27.2
  manifests/d/Docker/DockerDesktop_Pckgr/4.27.2/Docker.DockerDesktop_Pckgr.installer.yaml
  manifests/d/Docker/DockerDesktop_Pckgr/4.27.2/Docker.DockerDesktop_Pckgr.locale.en-US.yaml
  manifests/d/Docker/DockerDesktop_Pckgr/4.27.2/Docker.DockerDesktop_Pckgr.yaml
Labels: scan/passed

#104 New version: Dropbox.Dropbox_Pckgr version 192.4.4605
  manifests/d/Dropbox/Dropbox_Pckgr/192.4.4605/Dropbox.Dropbox_Pckgr.installer.yaml
  manifests/d/Dropbox/Dropbox_Pckgr/192.4.4605/Dropbox.Dropbox_Pckgr.locale.en-US.yaml
  manifests/d/Dropbox/Dropbox_Pckgr/192.4.4605/Dropbox.Dropbox_Pckgr.yaml
Labels: scan/passed

#105 New version: Google.Chrome_Pckgr version 121.0.6167.161
  manifests/g/Google/Chrome_Pckgr/121.0.6167.161/Google.Chrome_Pckgr.installer.yaml
  manifests/g/Google/Chrome_Pckgr/121.0.6167.161/Google.Chrome_Pckgr.locale.en-US.yaml
  manifests/g/Google/Chrome_Pckgr/121.0.6167.161/Google.Chrome_Pckgr.locale.nb-NO.yaml
  manifests/g/Google/Chrome_Pckgr/121.0.6167.161/Google.Chrome_Pckgr.locale.zh-CN.yaml
  manifests/g/Google/Chrome_Pckgr/121.0.6167.161/Google.Chrome_Pckgr.yaml
Labels: scan/passed

#106 New version: Microsoft.Edge_Pckgr version 121.0.2277.112
  manifests/m/Microsoft/Edge_Pckgr/121.0.2277.112/Microsoft.Edge_Pckgr.installer.yaml
  manifests/m/Microsoft/Edge_Pckgr/121.0.2277.112/Microsoft.Edge_Pckgr.locale.en-US.yaml
  manifests/m/Microsoft/Edge_Pckgr/121.0.2277.112/Microsoft.Edge_Pckgr.locale.nb-NO.yaml
  manifests/m/Microsoft/Edge_Pckgr/121.0.2277.112/Microsoft.Edge_Pckgr.yaml
Labels: scan/passed

#108 New version: Microsoft.VisualStudioCode_Pckgr version 1.86.1
  manifests/m/Microsoft/VisualStudioCode_Pckgr/1.86.1/Microsoft.VisualStudioCode_Pckgr.installer.yaml
Labels: scan/passed

#113 Microsoft.VCRedist.2015+.x86_Pckgr version 14.38.33130.0
  manifests/m/Microsoft/VCRedist/2015+/x86_Pckgr/14.38.33130.0/Microsoft.VCRedist.2015+.x86_Pckgr.installer.yaml
  manifests/m/Microsoft/VCRedist/2015+/x86_Pckgr/14.38.33130.0/Microsoft.VCRedist.2015+.x86_Pckgr.locale.en-US.yaml
  manifests/m/Microsoft/VCRedist/2015+/x86_Pckgr/14.38.33130.0/Microsoft.VCRedist.2015+.x86_Pckgr.yaml
Labels: scan/failed

#112 Microsoft.VCRedist.2015+.x64_Pckgr version 14.38.33130.0
  manifests/m/Microsoft/VCRedist/2015+/x64_Pckgr/14.38.33130.0/Microsoft.VCRedist.2015+.x64_Pckgr.installer.yaml
  manifests/m/Microsoft/VCRedist/2015+/x64_Pckgr/14.38.33130.0/Microsoft.VCRedist.2015+.x64_Pckgr.locale.en-US.yaml
  manifests/m/Microsoft/VCRedist/2015+/x64_Pckgr/14.38.33130.0/Microsoft.VCRedist.2015+.x64_Pckgr.yaml
Labels: scan/failed

#115 New version: Postman.Postman_Pckgr version 10.23.0
  manifests/p/Postman/Postman_Pckgr/10.23.0/Postman.Postman_Pckgr.installer.yaml
  manifests/p/Postman/Postman_Pckgr/10.23.0/Postman.Postman_Pckgr.locale.en-US.yaml
  manifests/p/Postman/Postman_Pckgr/10.23.0/Postman.Postman_Pckgr.yaml
Labels: scan/passed

#116 New version: evernote.evernote_Pckgr version 10.75.2
  manifests/e/evernote/evernote_Pckgr/10.75.2/evernote.evernote_Pckgr.installer.yaml
  manifests/e/evernote/evernote_Pckgr/10.75.2/evernote.evernote_Pckgr.locale.en-US.yaml
  manifests/e/evernote/evernote_Pckgr/10.75.2/evernote.evernote_Pckgr.yaml
Labels: scan/passed

#117 New version: Amazon.AWSCLI_Pckgr version 2.15.19
  manifests/a/Amazon/AWSCLI_Pckgr/2.15.19/Amazon.AWSCLI_Pckgr.installer.yaml
  manifests/a/Amazon/AWSCLI_Pckgr/2.15.19/Amazon.AWSCLI_Pckgr.locale.en-US.yaml
  manifests/a/Amazon/AWSCLI_Pckgr/2.15.19/Amazon.AWSCLI_Pckgr.yaml
Labels: scan/passed

#119 New version: Malwarebytes.Malwarebytes_Pckgr version 4.6.8.311
  manifests/m/Malwarebytes/Malwarebytes_Pckgr/4.6.8.311/Malwarebytes.Malwarebytes_Pckgr.installer.yaml
  manifests/m/Malwarebytes/Malwarebytes_Pckgr/4.6.8.311/Malwarebytes.Malwarebytes_Pckgr.locale.en-US.yaml
  manifests/m/Malwarebytes/Malwarebytes_Pckgr/4.6.8.311/Malwarebytes.Malwarebytes_Pckgr.yaml
Labels: scan/passed

#133 New version: Microsoft.Azure.StorageExplorer_Pckgr version 1.32.1
  manifests/m/Microsoft/Azure/StorageExplorer_Pckgr/1.32.1/Microsoft.Azure.StorageExplorer_Pckgr.installer.yaml
  manifests/m/Microsoft/Azure/StorageExplorer_Pckgr/1.32.1/Microsoft.Azure.StorageExplorer_Pckgr.locale.en-US.yaml
  manifests/m/Microsoft/Azure/StorageExplorer_Pckgr/1.32.1/Microsoft.Azure.StorageExplorer_Pckgr.yaml
Labels: scan/passed

#131 Update version: DuongDieuPhap.ImageGlass_Pckgr version 9.0.10.201
  manifests/d/DuongDieuPhap/ImageGlass_Pckgr/9.0.10.201/DuongDieuPhap.ImageGlass_Pckgr.installer.yaml
  manifests/d/DuongDieuPhap/ImageGlass_Pckgr/9.0.10.201/DuongDieuPhap.ImageGlass_Pckgr.locale.en-US.yaml
  manifests/d/DuongDieuPhap/ImageGlass_Pckgr/9.0.10.201/DuongDieuPhap.ImageGlass_Pckgr.yaml
Labels: scan/passed

#132 Update version: Nextcloud.NextcloudDesktop_Pckgr version 3.11.1
  manifests/n/Nextcloud/NextcloudDesktop_Pckgr/3.11.1/Nextcloud.NextcloudDesktop_Pckgr.installer.yaml
  manifests/n/Nextcloud/NextcloudDesktop_Pckgr/3.11.1/Nextcloud.NextcloudDesktop_Pckgr.locale.en-US.yaml
  manifests/n/Nextcloud/NextcloudDesktop_Pckgr/3.11.1/Nextcloud.NextcloudDesktop_Pckgr.yaml
Labels: scan/passed

#122 Update version: GitHub.GitLFS_Pckgr version 3.4.1
  manifests/g/GitHub/GitLFS_Pckgr/3.4.1/GitHub.GitLFS_Pckgr.installer.yaml
  manifests/g/GitHub/GitLFS_Pckgr/3.4.1/GitHub.GitLFS_Pckgr.locale.en-US.yaml
  manifests/g/GitHub/GitLFS_Pckgr/3.4.1/GitHub.GitLFS_Pckgr.yaml
Labels: scan/passed

#127 Update version: Sonosaurus.SonoBus_Pckgr version 1.7.2
  manifests/s/Sonosaurus/SonoBus_Pckgr/1.7.2/Sonosaurus.SonoBus_Pckgr.installer.yaml
  manifests/s/Sonosaurus/SonoBus_Pckgr/1.7.2/Sonosaurus.SonoBus_Pckgr.locale.en-US.yaml
  manifests/s/Sonosaurus/SonoBus_Pckgr/1.7.2/Sonosaurus.SonoBus_Pckgr.yaml
Labels: scan/passed

#128 Update version: Kubernetes.minikube_Pckgr version 1.32.0
  manifests/k/Kubernetes/minikube_Pckgr/1.32.0/Kubernetes.minikube_Pckgr.installer.yaml
  manifests/k/Kubernetes/minikube_Pckgr/1.32.0/Kubernetes.minikube_Pckgr.locale.en-US.yaml
  manifests/k/Kubernetes/minikube_Pckgr/1.32.0/Kubernetes.minikube_Pckgr.yaml
Labels: scan/passed

#126 Update version: Audacity.Audacity_Pckgr version 3.4.2
  manifests/a/Audacity/Audacity_Pckgr/3.4.2/Audacity.Audacity_Pckgr.installer.yaml
  manifests/a/Audacity/Audacity_Pckgr/3.4.2/Audacity.Audacity_Pckgr.locale.en-US.yaml
  manifests/a/Audacity/Audacity_Pckgr/3.4.2/Audacity.Audacity_Pckgr.yaml
Labels: scan/passed

#145 New version: HandBrake.HandBrake_Pckgr version 1.7.3
  manifests/h/HandBrake/HandBrake_Pckgr/1.7.3/HandBrake.HandBrake_Pckgr.installer.yaml
  manifests/h/HandBrake/HandBrake_Pckgr/1.7.3/HandBrake.HandBrake_Pckgr.locale.en-US.yaml
  manifests/h/HandBrake/HandBrake_Pckgr/1.7.3/HandBrake.HandBrake_Pckgr.yaml
Labels: scan/passed

#144 New version: Microsoft.Azure.StorageExplorer_Pckgr version 1.32.0
  manifests/m/Microsoft/Azure/StorageExplorer_Pckgr/1.32.0/Microsoft.Azure.StorageExplorer_Pckgr.installer.yaml
  manifests/m/Microsoft/Azure/StorageExplorer_Pckgr/1.32.0/Microsoft.Azure.StorageExplorer_Pckgr.locale.en-US.yaml
  manifests/m/Microsoft/Azure/StorageExplorer_Pckgr/1.32.0/Microsoft.Azure.StorageExplorer_Pckgr.yaml
Labels: scan/passed

#146 New version: Microsoft.Azure.StorageExplorer_Pckgr version 1.32.1
  manifests/m/Microsoft/Azure/StorageExplorer_Pckgr/1.32.1/Microsoft.Azure.StorageExplorer_Pckgr.installer.yaml
  manifests/m/Microsoft/Azure/StorageExplorer_Pckgr/1.32.1/Microsoft.Azure.StorageExplorer_Pckgr.locale.en-US.yaml
  manifests/m/Microsoft/Azure/StorageExplorer_Pckgr/1.32.1/Microsoft.Azure.StorageExplorer_Pckgr.yaml
Labels: scan/passed

#149 New version: Cisco.WebexTeams_Pckgr version 44.2.0.28714
  manifests/c/Cisco/WebexTeams_Pckgr/44.2.0.28714/Cisco.WebexTeams_Pckgr.installer.yaml
  manifests/c/Cisco/WebexTeams_Pckgr/44.2.0.28714/Cisco.WebexTeams_Pckgr.locale.en-US.yaml
  manifests/c/Cisco/WebexTeams_Pckgr/44.2.0.28714/Cisco.WebexTeams_Pckgr.yaml
Labels: scan/passed

#150 New version: OpenVPNTechnologies.OpenVPNConnect_Pckgr version 3.4.4
  manifests/o/OpenVPNTechnologies/OpenVPNConnect_Pckgr/3.4.4/OpenVPNTechnologies.OpenVPNConnect_Pckgr.installer.yaml
  manifests/o/OpenVPNTechnologies/OpenVPNConnect_Pckgr/3.4.4/OpenVPNTechnologies.OpenVPNConnect_Pckgr.locale.en-US.yaml
  manifests/o/OpenVPNTechnologies/OpenVPNConnect_Pckgr/3.4.4/OpenVPNTechnologies.OpenVPNConnect_Pckgr.yaml
Labels: scan/passed

#152 New version: OpenVPNTechnologies.OpenVPN_Pckgr version 2.6.901
  manifests/o/OpenVPNTechnologies/OpenVPN_Pckgr/2.6.901/OpenVPNTechnologies.OpenVPN_Pckgr.installer.yaml
  manifests/o/OpenVPNTechnologies/OpenVPN_Pckgr/2.6.901/OpenVPNTechnologies.OpenVPN_Pckgr.locale.en-US.yaml
  manifests/o/OpenVPNTechnologies/OpenVPN_Pckgr/2.6.901/OpenVPNTechnologies.OpenVPN_Pckgr.yaml
Labels: scan/passed

#153 New version: Opera.Opera_Pckgr version 107.0.5045.21
  manifests/o/Opera/Opera_Pckgr/107.0.5045.21/Opera.Opera_Pckgr.installer.yaml
  manifests/o/Opera/Opera_Pckgr/107.0.5045.21/Opera.Opera_Pckgr.locale.en-US.yaml
  manifests/o/Opera/Opera_Pckgr/107.0.5045.21/Opera.Opera_Pckgr.locale.nb-NO.yaml
  manifests/o/Opera/Opera_Pckgr/107.0.5045.21/Opera.Opera_Pckgr.yaml
Labels: scan/passed

#154 New version: Adobe.Acrobat.Reader.64-bit_Pckgr version 23.008.20533
  manifests/a/Adobe/Acrobat/Reader/64-bit_Pckgr/23.008.20533/Adobe.Acrobat.Reader.64-bit_Pckgr.installer.yaml
  manifests/a/Adobe/Acrobat/Reader/64-bit_Pckgr/23.008.20533/Adobe.Acrobat.Reader.64-bit_Pckgr.locale.en-US.yaml
  manifests/a/Adobe/Acrobat/Reader/64-bit_Pckgr/23.008.20533/Adobe.Acrobat.Reader.64-bit_Pckgr.yaml
Labels: scan/passed

#155 New version: Adobe.Acrobat.Reader.32-bit_Pckgr version 23.008.20533
  manifests/a/Adobe/Acrobat/Reader/32-bit_Pckgr/23.008.20533/Adobe.Acrobat.Reader.32-bit_Pckgr.installer.yaml
  manifests/a/Adobe/Acrobat/Reader/32-bit_Pckgr/23.008.20533/Adobe.Acrobat.Reader.32-bit_Pckgr.locale.en-US.yaml
  manifests/a/Adobe/Acrobat/Reader/32-bit_Pckgr/23.008.20533/Adobe.Acrobat.Reader.32-bit_Pckgr.yaml
Labels: scan/passed

#143 Manifest automation
  .github/workflows/automation.yml
  .gitignore
  automation/list.json
  automation/main.py
  automation/requirements.txt
  automation/wingetcreate_settings.json
Labels: enhancement, automerge/force

#161 New version: dnGrep.dnGrep_Pckgr version 4.1.27.0
  manifests/d/dnGrep/dnGrep_Pckgr/4.1.27.0/dnGrep.dnGrep_Pckgr.installer.yaml
  manifests/d/dnGrep/dnGrep_Pckgr/4.1.27.0/dnGrep.dnGrep_Pckgr.locale.en-US.yaml
  manifests/d/dnGrep/dnGrep_Pckgr/4.1.27.0/dnGrep.dnGrep_Pckgr.yaml
Labels: scan/passed

#160 New version: Kitware.CMake_Pckgr version 3.29.0-rc1
  manifests/k/Kitware/CMake_Pckgr/3.29.0-rc1/Kitware.CMake_Pckgr.installer.yaml
  manifests/k/Kitware/CMake_Pckgr/3.29.0-rc1/Kitware.CMake_Pckgr.locale.en-US.yaml
  manifests/k/Kitware/CMake_Pckgr/3.29.0-rc1/Kitware.CMake_Pckgr.yaml
Labels: scan/passed

#168 TimKosse.FileZilla_Pckgr version 3.65.0
  manifests/t/TimKosse/FileZilla_Pckgr/3.65.0/TimKosse.FileZilla_Pckgr.installer.yaml
  manifests/t/TimKosse/FileZilla_Pckgr/3.65.0/TimKosse.FileZilla_Pckgr.locale.en-US.yaml
  manifests/t/TimKosse/FileZilla_Pckgr/3.65.0/TimKosse.FileZilla_Pckgr.yaml
Labels: scan/failed

#170 New version: Nextcloud.NextcloudDesktop_Pckgr version 3.12.0
  manifests/n/Nextcloud/NextcloudDesktop_Pckgr/3.12.0/Nextcloud.NextcloudDesktop_Pckgr.installer.yaml
  manifests/n/Nextcloud/NextcloudDesktop_Pckgr/3.12.0/Nextcloud.NextcloudDesktop_Pckgr.locale.en-US.yaml
  manifests/n/Nextcloud/NextcloudDesktop_Pckgr/3.12.0/Nextcloud.NextcloudDesktop_Pckgr.yaml
Labels: scan/passed

#164 New version: Discord.Discord_Pckgr version 1.0.9033
  manifests/d/Discord/Discord_Pckgr/1.0.9033/Discord.Discord_Pckgr.installer.yaml
  manifests/d/Discord/Discord_Pckgr/1.0.9033/Discord.Discord_Pckgr.locale.en-US.yaml
  manifests/d/Discord/Discord_Pckgr/1.0.9033/Discord.Discord_Pckgr.locale.pt-BR.yaml
  manifests/d/Discord/Discord_Pckgr/1.0.9033/Discord.Discord_Pckgr.locale.zh-CN.yaml
  manifests/d/Discord/Discord_Pckgr/1.0.9033/Discord.Discord_Pckgr.yaml
Labels: scan/failed

#162 New version: Axosoft.GitKraken_Pckgr version 9.12.0
  manifests/a/Axosoft/GitKraken_Pckgr/9.12.0/Axosoft.GitKraken_Pckgr.installer.yaml
  manifests/a/Axosoft/GitKraken_Pckgr/9.12.0/Axosoft.GitKraken_Pckgr.locale.en-US.yaml
  manifests/a/Axosoft/GitKraken_Pckgr/9.12.0/Axosoft.GitKraken_Pckgr.yaml
Labels: scan/failed

#171 Update main.py
  automation/main.py
Labels: automerge/force

#172 Update main.py
  automation/main.py
Labels: automerge/force

#185 New version: OpenJS.NodeJS.LTS_Pckgr version 20.11.1
  manifests/o/OpenJS/NodeJS/LTS_Pckgr/20.11.1/OpenJS.NodeJS.LTS_Pckgr.installer.yaml
  manifests/o/OpenJS/NodeJS/LTS_Pckgr/20.11.1/OpenJS.NodeJS.LTS_Pckgr.locale.en-US.yaml
  manifests/o/OpenJS/NodeJS/LTS_Pckgr/20.11.1/OpenJS.NodeJS.LTS_Pckgr.yaml
Labels: scan/failed

#187 New version: Amazon.AWSCLI_Pckgr version 2.15.20
  manifests/a/Amazon/AWSCLI_Pckgr/2.15.20/Amazon.AWSCLI_Pckgr.installer.yaml
  manifests/a/Amazon/AWSCLI_Pckgr/2.15.20/Amazon.AWSCLI_Pckgr.locale.en-US.yaml
  manifests/a/Amazon/AWSCLI_Pckgr/2.15.20/Amazon.AWSCLI_Pckgr.yaml
Labels: scan/passed

#120 New version: Microsoft.Skype_Pckgr version 8.112.0.210
  manifests/m/Microsoft/Skype_Pckgr/8.112.0.210/Microsoft.Skype_Pckgr.installer.yaml
  manifests/m/Microsoft/Skype_Pckgr/8.112.0.210/Microsoft.Skype_Pckgr.locale.en-US.yaml
  manifests/m/Microsoft/Skype_Pckgr/8.112.0.210/Microsoft.Skype_Pckgr.yaml
Labels: scan/passed

#188 New version: WiresharkFoundation.Wireshark_Pckgr version 4.2.3
  manifests/w/WiresharkFoundation/Wireshark_Pckgr/4.2.3/WiresharkFoundation.Wireshark_Pckgr.installer.yaml
  manifests/w/WiresharkFoundation/Wireshark_Pckgr/4.2.3/WiresharkFoundation.Wireshark_Pckgr.locale.en-US.yaml
  manifests/w/WiresharkFoundation/Wireshark_Pckgr/4.2.3/WiresharkFoundation.Wireshark_Pckgr.yaml
Labels: scan/passed

#189 New version: GitHub.cli_Pckgr version 2.44.0
  manifests/g/GitHub/cli_Pckgr/2.44.0/GitHub.cli_Pckgr.installer.yaml
  manifests/g/GitHub/cli_Pckgr/2.44.0/GitHub.cli_Pckgr.locale.en-US.yaml
  manifests/g/GitHub/cli_Pckgr/2.44.0/GitHub.cli_Pckgr.yaml
Labels: scan/passed

#190 New version: CodecGuide.K-LiteCodecPack.Full_Pckgr version 18.1.0
  manifests/c/CodecGuide/K-LiteCodecPack/Full_Pckgr/18.1.0/CodecGuide.K-LiteCodecPack.Full_Pckgr.installer.yaml
  manifests/c/CodecGuide/K-LiteCodecPack/Full_Pckgr/18.1.0/CodecGuide.K-LiteCodecPack.Full_Pckgr.locale.en-US.yaml
  manifests/c/CodecGuide/K-LiteCodecPack/Full_Pckgr/18.1.0/CodecGuide.K-LiteCodecPack.Full_Pckgr.yaml
Labels: scan/passed

#191 New version: Dialpad.Dialpad_Pckgr version 2402.1.0
  manifests/d/Dialpad/Dialpad_Pckgr/2402.1.0/Dialpad.Dialpad_Pckgr.installer.yaml
  manifests/d/Dialpad/Dialpad_Pckgr/2402.1.0/Dialpad.Dialpad_Pckgr.locale.en-US.yaml
  manifests/d/Dialpad/Dialpad_Pckgr/2402.1.0/Dialpad.Dialpad_Pckgr.yaml
Labels: scan/passed

#192 New version: Microsoft.Edge_Pckgr version 121.0.2277.128
  manifests/m/Microsoft/Edge_Pckgr/121.0.2277.128/Microsoft.Edge_Pckgr.installer.yaml
  manifests/m/Microsoft/Edge_Pckgr/121.0.2277.128/Microsoft.Edge_Pckgr.locale.en-US.yaml
  manifests/m/Microsoft/Edge_Pckgr/121.0.2277.128/Microsoft.Edge_Pckgr.locale.nb-NO.yaml
  manifests/m/Microsoft/Edge_Pckgr/121.0.2277.128/Microsoft.Edge_Pckgr.yaml
Labels: scan/failed

#193 New version: Grammarly.Grammarly_Pckgr version 1.2.64.1316
  manifests/g/Grammarly/Grammarly_Pckgr/1.2.64.1316/Grammarly.Grammarly_Pckgr.installer.yaml
  manifests/g/Grammarly/Grammarly_Pckgr/1.2.64.1316/Grammarly.Grammarly_Pckgr.locale.en-US.yaml
  manifests/g/Grammarly/Grammarly_Pckgr/1.2.64.1316/Grammarly.Grammarly_Pckgr.locale.zh-CN.yaml
  manifests/g/Grammarly/Grammarly_Pckgr/1.2.64.1316/Grammarly.Grammarly_Pckgr.yaml
Labels: scan/passed

#194 New version: tailscale.tailscale_Pckgr version 1.60.0
  manifests/t/tailscale/tailscale_Pckgr/1.60.0/tailscale.tailscale_Pckgr.installer.yaml
  manifests/t/tailscale/tailscale_Pckgr/1.60.0/tailscale.tailscale_Pckgr.locale.en-US.yaml
  manifests/t/tailscale/tailscale_Pckgr/1.60.0/tailscale.tailscale_Pckgr.yaml
Labels: scan/passed

#186 New version: WinSCP.WinSCP_Pckgr version 6.3
  manifests/w/WinSCP/WinSCP_Pckgr/6.3/WinSCP.WinSCP_Pckgr.installer.yaml
  manifests/w/WinSCP/WinSCP_Pckgr/6.3/WinSCP.WinSCP_Pckgr.locale.en-US.yaml
  manifests/w/WinSCP/WinSCP_Pckgr/6.3/WinSCP.WinSCP_Pckgr.yaml
Labels: scan/failed, installer-hash-mismatch

#195 New version: Microsoft.Edge_Pckgr version 121.0.2277.128
  manifests/m/Microsoft/Edge_Pckgr/121.0.2277.128/Microsoft.Edge_Pckgr.installer.yaml
Labels: scan/passed

#197 Update main.py
  automation/main.py
Labels: automerge/force

#196 New version: Microsoft.VisualStudioCode_Pckgr version 1.86.2
  manifests/m/Microsoft/VisualStudioCode_Pckgr/1.86.2/Microsoft.VisualStudioCode_Pckgr.installer.yaml
  manifests/m/Microsoft/VisualStudioCode_Pckgr/1.86.2/Microsoft.VisualStudioCode_Pckgr.locale.en-US.yaml
  manifests/m/Microsoft/VisualStudioCode_Pckgr/1.86.2/Microsoft.VisualStudioCode_Pckgr.yaml
Labels: scan/passed

#198 New version: GitHub.cli_Pckgr version 2.44.1
  manifests/g/GitHub/cli_Pckgr/2.44.1/GitHub.cli_Pckgr.installer.yaml
  manifests/g/GitHub/cli_Pckgr/2.44.1/GitHub.cli_Pckgr.locale.en-US.yaml
  manifests/g/GitHub/cli_Pckgr/2.44.1/GitHub.cli_Pckgr.yaml
Labels: scan/passed

#199 New version: JGraph.Draw_Pckgr version 23.1.5
  manifests/j/JGraph/Draw_Pckgr/23.1.5/JGraph.Draw_Pckgr.installer.yaml
  manifests/j/JGraph/Draw_Pckgr/23.1.5/JGraph.Draw_Pckgr.locale.en-US.yaml
  manifests/j/JGraph/Draw_Pckgr/23.1.5/JGraph.Draw_Pckgr.yaml
Labels: scan/passed

#200 New version: Grammarly.Grammarly_Pckgr version 1.2.64.1318
  manifests/g/Grammarly/Grammarly_Pckgr/1.2.64.1318/Grammarly.Grammarly_Pckgr.installer.yaml
  manifests/g/Grammarly/Grammarly_Pckgr/1.2.64.1318/Grammarly.Grammarly_Pckgr.locale.en-US.yaml
  manifests/g/Grammarly/Grammarly_Pckgr/1.2.64.1318/Grammarly.Grammarly_Pckgr.locale.zh-CN.yaml
  manifests/g/Grammarly/Grammarly_Pckgr/1.2.64.1318/Grammarly.Grammarly_Pckgr.yaml
Labels: scan/passed

#202 New version: Amazon.AWSVPNClient_Pckgr version 3.11.1
  manifests/a/Amazon/AWSVPNClient_Pckgr/3.11.1/Amazon.AWSVPNClient_Pckgr.installer.yaml
  manifests/a/Amazon/AWSVPNClient_Pckgr/3.11.1/Amazon.AWSVPNClient_Pckgr.locale.en-US.yaml
  manifests/a/Amazon/AWSVPNClient_Pckgr/3.11.1/Amazon.AWSVPNClient_Pckgr.yaml
Labels: scan/passed

#203 Update main.py
  automation/main.py
Labels: automerge/force

#204 New version: Anydo.Anydo_Pckgr version 5.0.59.2
  manifests/a/Anydo/Anydo_Pckgr/5.0.59.2/Anydo.Anydo_Pckgr.installer.yaml
  manifests/a/Anydo/Anydo_Pckgr/5.0.59.2/Anydo.Anydo_Pckgr.locale.en-US.yaml
  manifests/a/Anydo/Anydo_Pckgr/5.0.59.2/Anydo.Anydo_Pckgr.yaml
Labels: scan/passed

#205 New version: Notepad++.Notepad++_Pckgr version 8.6.3
  manifests/n/Notepad++/Notepad++_Pckgr/8.6.3/Notepad++.Notepad++_Pckgr.installer.yaml
  manifests/n/Notepad++/Notepad++_Pckgr/8.6.3/Notepad++.Notepad++_Pckgr.locale.en-US.yaml
  manifests/n/Notepad++/Notepad++_Pckgr/8.6.3/Notepad++.Notepad++_Pckgr.yaml
Labels: scan/passed

#206 New version: dbeaver.dbeaver_Pckgr version 23.3.5
  manifests/d/dbeaver/dbeaver_Pckgr/23.3.5/dbeaver.dbeaver_Pckgr.installer.yaml
  manifests/d/dbeaver/dbeaver_Pckgr/23.3.5/dbeaver.dbeaver_Pckgr.locale.en-US.yaml
  manifests/d/dbeaver/dbeaver_Pckgr/23.3.5/dbeaver.dbeaver_Pckgr.yaml
Labels: scan/passed

#207 New version: Canva.Canva_Pckgr version 1.82.0
  manifests/c/Canva/Canva_Pckgr/1.82.0/Canva.Canva_Pckgr.installer.yaml
  manifests/c/Canva/Canva_Pckgr/1.82.0/Canva.Canva_Pckgr.locale.en-US.yaml
  manifests/c/Canva/Canva_Pckgr/1.82.0/Canva.Canva_Pckgr.yaml
Labels: scan/passed

#208 New version: Canva.Canva_Pckgr version 1.82.0
  manifests/c/Canva/Canva_Pckgr/1.82.0/Canva.Canva_Pckgr.installer.yaml
  manifests/c/Canva/Canva_Pckgr/1.82.0/Canva.Canva_Pckgr.locale.en-US.yaml
  manifests/c/Canva/Canva_Pckgr/1.82.0/Canva.Canva_Pckgr.yaml
Labels: scan/passed

#209 New version: Notepad++.Notepad++_Pckgr version 8.6.4
  manifests/n/Notepad++/Notepad++_Pckgr/8.6.4/Notepad++.Notepad++_Pckgr.installer.yaml
  manifests/n/Notepad++/Notepad++_Pckgr/8.6.4/Notepad++.Notepad++_Pckgr.locale.en-US.yaml
  manifests/n/Notepad++/Notepad++_Pckgr/8.6.4/Notepad++.Notepad++_Pckgr.yaml
Labels: scan/passed

#210 New version: Postman.Postman_Pckgr version 10.23.5
  manifests/p/Postman/Postman_Pckgr/10.23.5/Postman.Postman_Pckgr.installer.yaml
  manifests/p/Postman/Postman_Pckgr/10.23.5/Postman.Postman_Pckgr.locale.en-US.yaml
  manifests/p/Postman/Postman_Pckgr/10.23.5/Postman.Postman_Pckgr.yaml
Labels: scan/passed

#211 New version: Google.Chrome_Pckgr version 122.0.6261.57
  manifests/g/Google/Chrome_Pckgr/122.0.6261.57/Google.Chrome_Pckgr.installer.yaml
  manifests/g/Google/Chrome_Pckgr/122.0.6261.57/Google.Chrome_Pckgr.locale.en-US.yaml
  manifests/g/Google/Chrome_Pckgr/122.0.6261.57/Google.Chrome_Pckgr.locale.nb-NO.yaml
  manifests/g/Google/Chrome_Pckgr/122.0.6261.57/Google.Chrome_Pckgr.locale.zh-CN.yaml
  manifests/g/Google/Chrome_Pckgr/122.0.6261.57/Google.Chrome_Pckgr.yaml
Labels: scan/passed

#212 New version: Google.Chrome_Pckgr version 122.0.6261.58
  manifests/g/Google/Chrome_Pckgr/122.0.6261.58/Google.Chrome_Pckgr.installer.yaml
  manifests/g/Google/Chrome_Pckgr/122.0.6261.58/Google.Chrome_Pckgr.locale.en-US.yaml
  manifests/g/Google/Chrome_Pckgr/122.0.6261.58/Google.Chrome_Pckgr.locale.nb-NO.yaml
  manifests/g/Google/Chrome_Pckgr/122.0.6261.58/Google.Chrome_Pckgr.locale.zh-CN.yaml
  manifests/g/Google/Chrome_Pckgr/122.0.6261.58/Google.Chrome_Pckgr.yaml
Labels: scan/passed

#213 Update main.py
  automation/main.py
Labels: automerge/force

#214 New version: AgileBits.1Password_Pckgr version 8.10.26
  manifests/a/AgileBits/1Password_Pckgr/8.10.26/AgileBits.1Password_Pckgr.installer.yaml
  manifests/a/AgileBits/1Password_Pckgr/8.10.26/AgileBits.1Password_Pckgr.locale.en-US.yaml
  manifests/a/AgileBits/1Password_Pckgr/8.10.26/AgileBits.1Password_Pckgr.yaml
Labels: scan/passed

#216 Patch 6
  automation/main.py
  automation/requirements.txt
Labels: automerge/force

#218 New version: Microsoft.Bicep_Pckgr version 0.25.53
  manifests/m/Microsoft/Bicep_Pckgr/0.25.53/Microsoft.Bicep_Pckgr.installer.yaml
  manifests/m/Microsoft/Bicep_Pckgr/0.25.53/Microsoft.Bicep_Pckgr.locale.en-US.yaml
  manifests/m/Microsoft/Bicep_Pckgr/0.25.53/Microsoft.Bicep_Pckgr.yaml
Labels: scan/passed

#219 New version: Microsoft.WindowsTerminal version 1.19.10302.0
  manifests/m/Microsoft/WindowsTerminal/1.19.10302.0/Microsoft.WindowsTerminal.installer.yaml
  manifests/m/Microsoft/WindowsTerminal/1.19.10302.0/Microsoft.WindowsTerminal.locale.en-US.yaml
  manifests/m/Microsoft/WindowsTerminal/1.19.10302.0/Microsoft.WindowsTerminal.locale.fr-FR.yaml
  manifests/m/Microsoft/WindowsTerminal/1.19.10302.0/Microsoft.WindowsTerminal.locale.it-IT.yaml
  manifests/m/Microsoft/WindowsTerminal/1.19.10302.0/Microsoft.WindowsTerminal.locale.ja-JP.yaml
  manifests/m/Microsoft/WindowsTerminal/1.19.10302.0/Microsoft.WindowsTerminal.locale.ko-KR.yaml
  manifests/m/Microsoft/WindowsTerminal/1.19.10302.0/Microsoft.WindowsTerminal.locale.pt-BR.yaml
  manifests/m/Microsoft/WindowsTerminal/1.19.10302.0/Microsoft.WindowsTerminal.locale.ru-RU.yaml
  manifests/m/Microsoft/WindowsTerminal/1.19.10302.0/Microsoft.WindowsTerminal.locale.zh-CN.yaml
  manifests/m/Microsoft/WindowsTerminal/1.19.10302.0/Microsoft.WindowsTerminal.locale.zh-TW.yaml
  manifests/m/Microsoft/WindowsTerminal/1.19.10302.0/Microsoft.WindowsTerminal.yaml
Labels: scan/passed

#220 New version: evernote.evernote_Pckgr version 10.77.3
  manifests/e/evernote/evernote_Pckgr/10.77.3/evernote.evernote_Pckgr.installer.yaml
  manifests/e/evernote/evernote_Pckgr/10.77.3/evernote.evernote_Pckgr.locale.en-US.yaml
  manifests/e/evernote/evernote_Pckgr/10.77.3/evernote.evernote_Pckgr.yaml
Labels: scan/passed

#221 New version: Kitware.CMake_Pckgr version 3.29.0-rc2
  manifests/k/Kitware/CMake_Pckgr/3.29.0-rc2/Kitware.CMake_Pckgr.installer.yaml
  manifests/k/Kitware/CMake_Pckgr/3.29.0-rc2/Kitware.CMake_Pckgr.locale.en-US.yaml
  manifests/k/Kitware/CMake_Pckgr/3.29.0-rc2/Kitware.CMake_Pckgr.yaml
Labels: scan/passed

#222 New version: Grammarly.Grammarly_Pckgr version 1.2.65.1324
  manifests/g/Grammarly/Grammarly_Pckgr/1.2.65.1324/Grammarly.Grammarly_Pckgr.installer.yaml
  manifests/g/Grammarly/Grammarly_Pckgr/1.2.65.1324/Grammarly.Grammarly_Pckgr.locale.en-US.yaml
  manifests/g/Grammarly/Grammarly_Pckgr/1.2.65.1324/Grammarly.Grammarly_Pckgr.locale.zh-CN.yaml
  manifests/g/Grammarly/Grammarly_Pckgr/1.2.65.1324/Grammarly.Grammarly_Pckgr.yaml
Labels: scan/passed

#224 New version: GitHub.GitHubDesktop_Pckgr version 3.3.9
  manifests/g/GitHub/GitHubDesktop_Pckgr/3.3.9/GitHub.GitHubDesktop_Pckgr.installer.yaml
  manifests/g/GitHub/GitHubDesktop_Pckgr/3.3.9/GitHub.GitHubDesktop_Pckgr.locale.en-US.yaml
  manifests/g/GitHub/GitHubDesktop_Pckgr/3.3.9/GitHub.GitHubDesktop_Pckgr.yaml
Labels: scan/passed

#225 New version: Google.Chrome_Pckgr version 122.0.6261.70
  manifests/g/Google/Chrome_Pckgr/122.0.6261.70/Google.Chrome_Pckgr.installer.yaml
  manifests/g/Google/Chrome_Pckgr/122.0.6261.70/Google.Chrome_Pckgr.locale.en-US.yaml
  manifests/g/Google/Chrome_Pckgr/122.0.6261.70/Google.Chrome_Pckgr.locale.nb-NO.yaml
  manifests/g/Google/Chrome_Pckgr/122.0.6261.70/Google.Chrome_Pckgr.locale.zh-CN.yaml
  manifests/g/Google/Chrome_Pckgr/122.0.6261.70/Google.Chrome_Pckgr.yaml
Labels: scan/passed

#226 New version: NordSecurity.NordPass_Pckgr version 5.13.26
  manifests/n/NordSecurity/NordPass_Pckgr/5.13.26/NordSecurity.NordPass_Pckgr.installer.yaml
  manifests/n/NordSecurity/NordPass_Pckgr/5.13.26/NordSecurity.NordPass_Pckgr.locale.en-US.yaml
  manifests/n/NordSecurity/NordPass_Pckgr/5.13.26/NordSecurity.NordPass_Pckgr.yaml
Labels: scan/passed

#227 New version: RingCentral.RingCentral_Pckgr version 24.1.16.9318
  manifests/r/RingCentral/RingCentral_Pckgr/24.1.16.9318/RingCentral.RingCentral_Pckgr.installer.yaml
  manifests/r/RingCentral/RingCentral_Pckgr/24.1.16.9318/RingCentral.RingCentral_Pckgr.locale.en-US.yaml
  manifests/r/RingCentral/RingCentral_Pckgr/24.1.16.9318/RingCentral.RingCentral_Pckgr.yaml
Labels: scan/passed

#215 New version: WinSCP.WinSCP_Pckgr version 6.3.1
  manifests/w/WinSCP/WinSCP_Pckgr/6.3.1/WinSCP.WinSCP_Pckgr.installer.yaml
  manifests/w/WinSCP/WinSCP_Pckgr/6.3.1/WinSCP.WinSCP_Pckgr.locale.en-US.yaml
  manifests/w/WinSCP/WinSCP_Pckgr/6.3.1/WinSCP.WinSCP_Pckgr.yaml
Labels: scan/failed, installer-hash-mismatch

#228 New version: Microsoft.Edge_Pckgr version 122.0.2365.52
  manifests/m/Microsoft/Edge_Pckgr/122.0.2365.52/Microsoft.Edge_Pckgr.installer.yaml
  manifests/m/Microsoft/Edge_Pckgr/122.0.2365.52/Microsoft.Edge_Pckgr.locale.en-US.yaml
  manifests/m/Microsoft/Edge_Pckgr/122.0.2365.52/Microsoft.Edge_Pckgr.locale.nb-NO.yaml
  manifests/m/Microsoft/Edge_Pckgr/122.0.2365.52/Microsoft.Edge_Pckgr.yaml
Labels: scan/passed

#229 New version: Zoom.ZoomOutlookPlugin_Pckgr version 5.17.10.1010
  manifests/z/Zoom/ZoomOutlookPlugin_Pckgr/5.17.10.1010/Zoom.ZoomOutlookPlugin_Pckgr.installer.yaml
  manifests/z/Zoom/ZoomOutlookPlugin_Pckgr/5.17.10.1010/Zoom.ZoomOutlookPlugin_Pckgr.locale.en-US.yaml
  manifests/z/Zoom/ZoomOutlookPlugin_Pckgr/5.17.10.1010/Zoom.ZoomOutlookPlugin_Pckgr.locale.zh-CN.yaml
  manifests/z/Zoom/ZoomOutlookPlugin_Pckgr/5.17.10.1010/Zoom.ZoomOutlookPlugin_Pckgr.yaml
Labels: scan/passed

#230 New version: Zoom.Zoom_Pckgr version 5.17.10.33775
  manifests/z/Zoom/Zoom_Pckgr/5.17.10.33775/Zoom.Zoom_Pckgr.installer.yaml
  manifests/z/Zoom/Zoom_Pckgr/5.17.10.33775/Zoom.Zoom_Pckgr.locale.en-US.yaml
  manifests/z/Zoom/Zoom_Pckgr/5.17.10.33775/Zoom.Zoom_Pckgr.locale.zh-CN.yaml
  manifests/z/Zoom/Zoom_Pckgr/5.17.10.33775/Zoom.Zoom_Pckgr.yaml
Labels: scan/passed

#231 Update main.py
  automation/main.py
Labels: automerge/force

#232 New version: Adobe.Acrobat.Reader.64-bit_Pckgr version 23.008.20555
  manifests/a/Adobe/Acrobat/Reader/64-bit_Pckgr/23.008.20555/Adobe.Acrobat.Reader.64-bit_Pckgr.installer.yaml
  manifests/a/Adobe/Acrobat/Reader/64-bit_Pckgr/23.008.20555/Adobe.Acrobat.Reader.64-bit_Pckgr.locale.en-US.yaml
  manifests/a/Adobe/Acrobat/Reader/64-bit_Pckgr/23.008.20555/Adobe.Acrobat.Reader.64-bit_Pckgr.yaml
Labels: scan/passed

#233 New version: Adobe.Acrobat.Reader.32-bit_Pckgr version 23.008.20555
  manifests/a/Adobe/Acrobat/Reader/32-bit_Pckgr/23.008.20555/Adobe.Acrobat.Reader.32-bit_Pckgr.installer.yaml
  manifests/a/Adobe/Acrobat/Reader/32-bit_Pckgr/23.008.20555/Adobe.Acrobat.Reader.32-bit_Pckgr.locale.en-US.yaml
  manifests/a/Adobe/Acrobat/Reader/32-bit_Pckgr/23.008.20555/Adobe.Acrobat.Reader.32-bit_Pckgr.yaml
Labels: scan/passed

#234 New version: Docker.DockerDesktop_Pckgr version 4.28.0
  manifests/d/Docker/DockerDesktop_Pckgr/4.28.0/Docker.DockerDesktop_Pckgr.installer.yaml
  manifests/d/Docker/DockerDesktop_Pckgr/4.28.0/Docker.DockerDesktop_Pckgr.locale.en-US.yaml
  manifests/d/Docker/DockerDesktop_Pckgr/4.28.0/Docker.DockerDesktop_Pckgr.yaml
Labels: scan/passed

#235 New version: TeamViewer.TeamViewer_Pckgr version 15.51.5
  manifests/t/TeamViewer/TeamViewer_Pckgr/15.51.5/TeamViewer.TeamViewer_Pckgr.installer.yaml
  manifests/t/TeamViewer/TeamViewer_Pckgr/15.51.5/TeamViewer.TeamViewer_Pckgr.locale.de-DE.yaml
  manifests/t/TeamViewer/TeamViewer_Pckgr/15.51.5/TeamViewer.TeamViewer_Pckgr.locale.en-US.yaml
  manifests/t/TeamViewer/TeamViewer_Pckgr/15.51.5/TeamViewer.TeamViewer_Pckgr.locale.zh-CN.yaml
  manifests/t/TeamViewer/TeamViewer_Pckgr/15.51.5/TeamViewer.TeamViewer_Pckgr.yaml
Labels: scan/passed

#236 New version: TeamViewer.TeamViewer.Host_Pckgr version 15.51.5
  manifests/t/TeamViewer/TeamViewer/Host_Pckgr/15.51.5/TeamViewer.TeamViewer.Host_Pckgr.installer.yaml
  manifests/t/TeamViewer/TeamViewer/Host_Pckgr/15.51.5/TeamViewer.TeamViewer.Host_Pckgr.locale.en-US.yaml
  manifests/t/TeamViewer/TeamViewer/Host_Pckgr/15.51.5/TeamViewer.TeamViewer.Host_Pckgr.yaml
Labels: scan/passed

#237 New version: Microsoft.Edge_Pckgr version 122.0.2365.59
  manifests/m/Microsoft/Edge_Pckgr/122.0.2365.59/Microsoft.Edge_Pckgr.installer.yaml
  manifests/m/Microsoft/Edge_Pckgr/122.0.2365.59/Microsoft.Edge_Pckgr.locale.en-US.yaml
  manifests/m/Microsoft/Edge_Pckgr/122.0.2365.59/Microsoft.Edge_Pckgr.locale.nb-NO.yaml
  manifests/m/Microsoft/Edge_Pckgr/122.0.2365.59/Microsoft.Edge_Pckgr.yaml
Labels: scan/passed

#238 New version: Microsoft.WindowsTerminal version 1.19.10573.0
  manifests/m/Microsoft/WindowsTerminal/1.19.10573.0/Microsoft.WindowsTerminal.installer.yaml
  manifests/m/Microsoft/WindowsTerminal/1.19.10573.0/Microsoft.WindowsTerminal.locale.en-US.yaml
  manifests/m/Microsoft/WindowsTerminal/1.19.10573.0/Microsoft.WindowsTerminal.locale.fr-FR.yaml
  manifests/m/Microsoft/WindowsTerminal/1.19.10573.0/Microsoft.WindowsTerminal.locale.it-IT.yaml
  manifests/m/Microsoft/WindowsTerminal/1.19.10573.0/Microsoft.WindowsTerminal.locale.ja-JP.yaml
  manifests/m/Microsoft/WindowsTerminal/1.19.10573.0/Microsoft.WindowsTerminal.locale.ko-KR.yaml
  manifests/m/Microsoft/WindowsTerminal/1.19.10573.0/Microsoft.WindowsTerminal.locale.pt-BR.yaml
  manifests/m/Microsoft/WindowsTerminal/1.19.10573.0/Microsoft.WindowsTerminal.locale.ru-RU.yaml
  manifests/m/Microsoft/WindowsTerminal/1.19.10573.0/Microsoft.WindowsTerminal.locale.zh-CN.yaml
  manifests/m/Microsoft/WindowsTerminal/1.19.10573.0/Microsoft.WindowsTerminal.locale.zh-TW.yaml
  manifests/m/Microsoft/WindowsTerminal/1.19.10573.0/Microsoft.WindowsTerminal.yaml
Labels: scan/passed
